<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- ejs模板语法 -->
  <%= require('html-loader!./layout/head-common.html')%>
    <title>
      <%= htmlWebpackPlugin.options.title%> - YipMall</title>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')%>
    <%= require('html-loader!./layout/header.html')%>
      <!-- 首页主体内容 -->
      <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html')%>
          <div class="content with-nav">test</div>
      </div>
      <!-- ejs模板语法 -->
      <%= require('html-loader!./layout/footer.html')%>
</body>

</html>
