/*
 * @Author: yip 
 * @Date: 2018-02-22 14:05:56 
 * @Last Modified by: yip
 * @Last Modified time: 2018-02-22 17:25:57
 */
.form-line {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  .label {
    display: inline;
    width: 60px;
    text-align: center;
  }
}
