/*
 * @Author: yip 
 * @Date: 2018-03-05 11:30:07 
 * @Last Modified by: yip
 * @Last Modified time: 2018-03-05 12:07:44
 */

.order-list-table {
  width: 100%;
  border-collapse: #fafafa;
  margin-bottom: 20px;

  &.header {
    background: #eee;
  }
  .cell {
    padding: 10px 0;
    color: #666;
    border-bottom: 1px solid #eee;
  }
  .order-info {
    background: #eee;
    padding: 10px;
    color: #999;
    .order-text {
      margin-right: 25px;
    }
    .order-num {
      font-weight: bold;
    }
    .order-total {
      font-weight: bold;
      color: #c60023;
    }
    .order-detail {
      float: right;
    }
  }
  .cell-img {
    width: 10%;
    text-align: center;
    padding: 10px;
    .p-img {
      width: 80px;
      height: 80px;
      border: 1px solid #ddd;
    }
  }

  .cell-info {
    width: 30%;
    text-align: center;
  }

  .cell-price {
    width: 20%;
    text-align: center;
  }

  .cell-count {
    width: 20%;
    text-align: center;
  }

  .cell-total {
    width: 20%;
    text-align: center;
  }
}
