/*
 * @Author: yip 
 * @Date: 2018-02-23 14:55:04 
 * @Last Modified by: yip
 * @Last Modified time: 2018-02-23 16:07:36
 */
.banner {
  position: relative;
  overflow: auto;
}

.banner li {
  list-style: none;
}

.banner ul li {
  float: left;
}

.banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: background 0.5s, opacity 0.5s;
  -moz-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
}

.banner .dots li.active {
  background: #fff;
  opacity: 1;
}
