/*
 * @Author: yip 
 * @Date: 2018-02-08 12:12:11 
 * @Last Modified by: yip
 * @Last Modified time: 2018-02-08 15:43:37
 */

.footer {
  margin-top: 20px;
  padding-bottom: 10px;
  .links {
    text-align: center;
    color: #666;
    line-height: 30px;
    .link {
      padding: 0 10px;
    }
  }
  .copyright {
    text-align: center;
    color: #666;
    line-height: 30px;
    padding: 0;
  }
}
