/*
 * @Author: yip 
 * @Date: 2018-02-07 15:14:14 
 * @Last Modified by: yip
 * @Last Modified time: 2018-02-22 15:02:17
 */
.nav-simple {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
  }
}
